<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Tables Section -->
					<div class="py-4">
						<h2>Tables Section</h2>
						<table class="table table-bordered">
							<caption>Table 1: Basic Table</caption>
							<thead>
								<tr>
									<th rowspan="2">Header 1</th>
									<th colspan="2">Header 2</th>
								</tr>
								<tr>
									<th>Subheader 1</th>
									<th>Subheader 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cell 1</td>
									<td>Cell 2</td>
									<td>Cell 3</td>
								</tr>
								<tr>
									<td>Cell 4</td>
									<td>Cell 5</td>
									<td>Cell 6</td>
								</tr>
								<tr>
									<td>Cell 7</td>
									<td>Cell 8</td>
									<td>Cell 9</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Footer Content</td>
								</tr>
							</tfoot>
						</table>
				
						<table class="table table-bordered">
							<caption>Table 2: Advanced Table</caption>
							<!-- Add your second table here -->
						</table>
				
						<p>This section illustrates the usage of HTML tables with various components such as caption, thead, tbody, tfoot, rowspan, and colspan..</p>
					</div>
				
					<!-- Lists Section -->
					<div class="py-4">
						<h2>Lists of the Section</h2>
						<ul>
							<li>List item 1</li>
							<li>List item 2
								<ul>
									<li>Nested item 1</li>
									<li>Nested item 2</li>
									<li>Nested item 3</li>
								</ul>
							</li>
							<li>List item 3</li>
							<li>List item 4</li>
							<li>List item 5</li>
						</ul>
				
						<p>This section displays an unordered list with nested lists and list elements carrying a variety of material.
						</p>
					</div>
				
					<!-- Images Section -->
					<div class="py-4">
						<h2>Images Section</h2>
						<div class="image-container">
							<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe">
							<img src="https://i.pinimg.com/originals/06/b4/21/06b421388b7ab74c40b90b13a476311a.jpg" alt ="CN tower">
							<img src="https://i.pinimg.com/originals/1a/cb/78/1acb78aa281a042e7011fde98a765190.jpg" alt="High Angle View of High Building during Daytime">
						</div>
						<p>An unordered list with nested lists and list items containing a range of content is displayed in this section.
						</p>
					</div>
				
					<!-- Audio Section -->
					<div class="py-4">
						<h2>Audio Section</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							Your browser does not support the audio element.
						</audio>
				
						<p>An HTML5 audio player with sample audio files is provided in this section.
						</p>
					</div>
				
					<!-- Video Section -->
					<div class="py-4">
						<h2>Video Section</h2>
						<video controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
							The video element is not supported by your browser.

						</video>
				
						<p>An HTML5 video player with sample video files is shown in this section.
						</p>
					</div>
				</main>				
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>

<style>
    .image-container {
        display: flex;
        justify-content: space-between;
    }
    .image-container img {
        width: 300px; 
        height: auto; 
        margin-bottom: 10px; 
    }
</style>